body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h1 {
    color: #0074d9;
    font-size: 28px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    overflow-y: auto;
}


button {
    background-color: #0074d9;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}


button:hover {
    background-color: #0056b3;
}

h2 {
    color: #0074d9;
    font-size: 24px;
}

span {
    font-weight: bold;
    color: #007bff;
}

p {
    margin: 10px 0;
}

h3 {
    color: #0074d9;
    font-size: 24px; /* Увеличьте размер шрифта для заголовков */
}

#results {
    text-align: left;
}

#calculator {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Установите желаемую высоту вьюпорта здесь */
            overflow-y: auto;
}